/* font-family: 'Anek Bangla', sans-serif; ouiiiiii
font-family: 'Arima', cursive; mehh
font-family: 'Frank Ruhl Libre', serif; moui
*/
body{
    margin: 0;
    scroll-behavior: smooth;
    padding: 0;
    height: 100%;
    font-family: 'Anek Bangla', sans-serif;
    background:linear-gradient(45deg ,rgb(192, 241, 165), rgb(140, 232, 173));
}
.contact>.a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.grid>.item>.a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.viewport{
    height: 100vh;transition: transform 0.5s ease-in-out;
}
.contact{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateY(-100%);
    padding-top: 100px;
}
.contact>a{
    display: block;
}
.accueil{
    display: block;
}
.grid{
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateY(100%);
}
.item {
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 28px;
    box-shadow: 4px 5px 25px 12px rgba(188, 188, 188, 0.24);
    box-shadow: 4px 5px 11px -1px rgba(147, 147, 147, 0.5);
}
.link {
    display: block;
    padding: 30px 20px;
    background-color: rgb(171, 129, 208);
    overflow: hidden;
    position: relative;
    color: white;
    transition: all 0.5s ease;
}
.linke {
    display: block;
    padding: 30px 20px;
    background-color: rgb(140, 232, 173);
    overflow: hidden;
    position: relative;
    color: black;
    transition: all 0.5s ease;
}
.linke:not(.modal-open):hover .bg {
    transform: scale(10);
}
.link:not(.modal-open):hover .bg {
    transform: scale(10);
}
.link:not(.modal-open):hover{
    color: black;
}
.bg {
    height: 128px;
    width: 128px;
    background-color: #ffa0f7;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    transition: all 0.5s ease;
}
.item:nth-child(3n) .bg {
    background-color: #ffee8d;
}
.item:nth-child(4n) .bg {
    background-color: #90bcff;
}
.propos{
    position: relative;
    z-index: 2;
}
.projets{
    position: relative;
    z-index: 2;
}
.compets{
    position: relative;
    z-index: 2;
}
.modal{
    display: none;
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5749848e;
    z-index: 3;
}
.modal-content{
    background-color: rgb(171, 129, 208);
    padding: 20px;
    border-radius: 8px;
    text-align: justify;
    width: 50%;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

nav{
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 10px;
    padding-top: 10px;
    padding-right: 20px;
    position: fixed;
    right: 0;
    top: 0;
}
h1{
    margin-top: 100px;
}
.txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
button{
    border: none;
    background-color: rgb(171, 129, 208);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
    color: aliceblue;
    cursor: pointer;
    transition: 0.5s;
}
#link4{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(171, 129, 208);
    width: fit-content;
    color:aliceblue;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 50%;
    bottom: 25%;
    transform: translateX(50%);
    cursor: pointer;
    transition: 0.5s;
}
#button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(171, 129, 208);
    width: fit-content;
    color: aliceblue;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 50%;
    bottom: 25%;
    transform: translateX(50%);
    cursor: pointer;
    transition: 0.5s;
}
#button:hover{
    background-color: rebeccapurple;
}
#link4:hover{
    background-color: rebeccapurple;
}
button:hover{
    background-color: rebeccapurple;
}
#portrait{
    width: 20%;
    height: auto;
    margin: 20px;
    align-self: flex-end;
}
#propos{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    padding: 20px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}